RK_BUILDROOT_BASE_CFG="rk3308_bs_lvgl_release"
RK_WIFIBT_CHIP="RTL8189FS"
RK_UBOOT_INI="RK3308MINIALL_UART3.ini"
RK_KERNEL_CFG="luckfox_linux_defconfig"
RK_KERNEL_VERSION="5.10"
RK_KERNEL_DTS_NAME="mks-rk3308b-evb-v10"
RK_EXTRA_PARTITION_1_FSTYPE="ext2"
RK_EXTRA_PARTITION_2_FSTYPE="ext2"
RK_PARAMETER="parameter-64bit-luckfox.txt"
